<div *ngIf="!questionBankService.doQuestionsExist() && questionBankService.isAttempted()">
  <div class="btn-group mb-3" role="group" aria-label="Basic example">
    <span disabled class="btn btn-sm btn-info spacing">Correct Answer</span>
    <span disabled class="btn btn-sm btn-danger spacing">Answered Incorrectly</span>
    <span disabled class="btn btn-sm btn-success spacing">Answered Correctly</span>
  </div>
  <h5 class="card-title">Reviewing question number: {{currQuesIndex + 1}} </h5>
  <div class="list-group">
    <div class="list-group-item">
      <div class="question"><span>{{currQuesIndex + 1}}. </span>{{currQuestion.question}}</div>
      <div class="answers">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let answer of currQuestion.answers; let i = index;" [ngClass]="{'danger': currQuestion.correctIndex !== i && currQuestion.selectedIndex === i, 'info': currQuestion.correctIndex === i, 'success': currQuestion.correctIndex === i && currQuestion.selectedIndex === i}">
            <div class="input-group" >
              <div class="input-group-prepend">
                <label class="input-group-text">
                  <input type="radio" [checked]="currQuestion.selectedIndex === i" aria-label="Radio button for following text input" disabled>
                </label>
              </div>
              <input type="text" class="form-control" aria-label="Text input with radio button" [value]="answer" disabled>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span>
    <button
      [disabled]="currQuesIndex >= questionBankService.getNumQuestions()-1"
      class="btn btn-success spacing"
      (click)="onNextQuestion(1)">
        Next Question
    </button>
  </span>
  <span>
    <button
      [disabled]="currQuesIndex <= 0"
      class="btn btn-success spacing"
      (click)="onNextQuestion(-1)">
        Previous Question
    </button>
  </span>
  <span>
    <button
      class="btn btn-info spacing"
      (click)="onNextQuestion(questionBankService.getNumQuestions()+1)">
        Back Page
    </button>
  </span>
</div>
