.list-group-item{
  padding: 6px;
  pointer-events: none;
}

.card {
  margin-bottom: 20px;
}

.list-group-item.info{
    background: #17a2b8;
}

.list-group-item.danger{
    background: #dc3545;
}

.list-group-item.success {
    background: #28a745;
}

.answers .list-group{
  margin: 16px 0;
}

.form-control{
  font-size: .9em;
}

.spacing {
  margin-right: 15px;
}
