<div>
  <div *ngIf="checkErrors.login && !loginService.loginObj.isLoggedIn">
    <div *ngFor="let message of loginService.getLoginFailMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="checkErrors.question && loginService.loginObj.isLoggedIn && questionBankService.doQuestionsExist()">
    <div *ngFor="let message of questionBankService.getNoQuestionsMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="checkErrors.evaluate && loginService.loginObj.isLoggedIn && !questionBankService.doQuestionsExist() && !questionBankService.isAttempted()">
    <div *ngFor="let message of questionBankService.getIncompleteEvaluationMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
</div>
