<div>
  <!--<h1> checkLoginError = {{checkLoginError}} </h1>
  <h1> checkQuesionsError = {{checkQuesionsError}} </h1>
  <h1> checkEvaluationError = {{checkEvaluationError}} </h1>-->
  <div *ngIf="checkLoginError && !loginService.loginObj.isLoggedIn">
    <div *ngFor="let message of loginService.getLoginFailMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="checkQuesionsError && loginService.loginObj.isLoggedIn && questionBankService.doQuestionsExist()">
    <div *ngFor="let message of questionBankService.getNoQuestionsMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="checkEvaluationError && loginService.loginObj.isLoggedIn && !questionBankService.doQuestionsExist() && !questionBankService.isAttempted()">
    <div *ngFor="let message of questionBankService.getIncompleteEvaluationMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
</div>

