<nav class="navbar navbar-dark">
  <div class="navbar-brand">
    <h1>Online Quiz Application</h1>
  </div>
  <div>
    <button
      class="btn btn-primary spacing"
      routerLink=''
      (click)="onHome()">
        Home
    </button>
    <button
      class="btn btn-primary spacing"
      [disabled]="loginService.loginObj.isLoggedIn"
      routerLink={{routingService.LOGIN}}>
        {{getLoginButtonName()}}
    </button>
    <button
      [disabled]="!this.loginService.loginObj.isLoggedIn"
      class="btn btn-primary spacing"
      routerLink=''
      (click)="onLogout()">
        Logout
    </button>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
