<div class="jumbotron">
  <div *ngIf="loginService.loginObj.isLoggedIn && !questionBankService.doQuestionsExist()">
    <h1>Welcome to the 'Online Quiz Questionarie'</h1>
    <h3>{{questionBankService.getQuizRouteEndpointMessage()}}</h3>
    <button
      [hidden]="questionBankService.isAttempted()"
      class="btn btn-primary spacing"
      (click)="OnBeginTest()">
        Begin Test
    </button>
  </div>
  <div *ngIf="questionBankService.isAttempted() && !questionBankService.doQuestionsExist()">
    <button
      class="btn btn-primary spacing"
      routerLink={{routingService.REVIEW}}
      (click)="OnReviewTest()">
        Review Test
    </button>
    <button
      class="btn btn-primary spacing"
      routerLink={{routingService.RESULT}}
      (click)="OnViewTestResults()">
        View Results
    </button>
  </div>
  <app-errors [checkErrors]="checkErrors"> </app-errors>
</div>