<div class="jumbotron">
  <div *ngIf="loginService.isLoggedIn && !questionBankService.isNoQuestions()">
    <h1>Welcome to the 'Online Quiz Questionarie'</h1>
    <h3>All the best!</h3>
    <div *ngIf="!questionBankService.isAttempted()">
      <button
        class="btn btn-primary spacing"
        (click)="OnBeginTest()">
          BeginTest
      </button>
    </div>
  </div>
  <div *ngIf="questionBankService.isAttempted() && !questionBankService.isNoQuestions()">
    <button
      class="btn btn-primary spacing"
      routerLink={{routingService.REVIEW}}
      (click)="OnReviewTest()">
        Review Test
    </button>
    <button
      class="btn btn-primary spacing"
      routerLink={{routingService.RESULT}}
      (click)="OnViewTestResults()">
        View Results
    </button>
  </div>
  <div *ngIf="!loginService.isLoggedIn">
    <div *ngFor="let message in loginService.getLoginFailMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="loginService.isLoggedIn && questionBankService.isNoQuestions()">
    <div *ngFor="let message in questionBankService.getNoQuestionsMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
  <div *ngIf="loginService.isLoggedIn && !questionBankService.isNoQuestions() && !questionBankService.isAttempted()">
    <div *ngFor="let message in questionBankService.getIncompleteEvaluationMessages()">
      <h3 class="alert alert-danger"> {{message}}</h3>
    </div>
  </div>
</div>

