<div class="card-body">
	<h3 class="card-title">Please login to attempt the quiz!</h3>
	<form [formGroup]="loginForm" (ngSubmit)="!disableSubmitBtn && loginUser()">
		<div class="form-group">
			<label for="userName">User Name:</label>
			<input type="text" id="userName" class="form-control" formControlName="username">
      <div class="alert alert-danger"
				*ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors">
				  Username field cannot be empty!
			</div>
    </div>
		<div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" formControlName="password">
      <div class="alert alert-danger"
        *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors">
          Password field cannot be empty!
		  </div>
    </div>
		<button type="submit" [disabled]="disableSubmitBtn" class="btn btn-success">Submit</button>
	</form>

  <app-errors> </app-errors>
  <button
    class="btn btn-info"
    [hidden]="!loginService.loginObj.loginNotification || !loginService.loginObj.isLoggedIn"
    (click)=onStart()>
      Start Quiz
  </button>
</div>
