<div class="jumbotron">
  <div *ngIf="loginService.loginObj.isLoggedIn && !questionBankService.doQuestionsExist()">

    <app-attempt-question
      *ngIf="!questionBankService.isAttempted()"
      [currQuesIndex]="currQuesIndex"
      [currQuestion]="currQuestion"
      (guessedAnswer)="setGuessedAnswer($event)">
    </app-attempt-question>

    <app-review-question
      *ngIf="questionBankService.isAttempted()"
      [currQuesIndex]="currQuesIndex"
      [currQuestion]="currQuestion"
      (propagateQuestion)="moveToNextQuestion($event)">
    </app-review-question>
  </div>
  <app-errors [checkErrors]="checkErrors"> </app-errors>
</div>